/* General Styling */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

/* About Container Styling */
.about-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2rem;
  margin: auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-pic {
  background-color: gray;
  border-radius: 10px;
  margin-right: 20px;
  display: flex;
  width: 40%;  
}

.profile-pic img {
  width: 80%;
}

.text-content {
  width: 60%;
}

.about-container h1 {
  font-size: 3em;
  margin-bottom: 0.2em;
  text-align: center;
  color: #0289ff;
}

.about-container h2 {
  font-size: 1.8em;
  color: #777;
  margin-bottom: 1em;
  text-align: center;
}

.about-container p {
  font-size: 1.2em;
  color: #333;
  line-height: 1.8;
  margin-bottom: 1.2em;
  text-indent: 2em;
}

/* Skills Container Styling */
.skills-container {
  background-color: #f4f4f9;
  padding: 3rem;
  margin-top: 2rem;
  border-radius: 10px;
}

.skills-container h3 {
  font-size: 3em;
  margin-bottom: 1rem;
}

.skills-container h4 {
  font-size: 1.5em;
  margin-bottom: 1.5rem;
  color: #0289ff;
}

.skillName {
  margin: 1rem 0 0 5rem;
  font-size: 1.8em;
  font-weight: 700;
  color: #333;
}

.skillText {
  margin: 0 0 1rem 5rem;
  font-size: 1.4em;
  color: #666;
}

.skill-card {
  margin-bottom: 1.5rem;
  display: flex;
  flex-wrap: wrap;
}

.skill-card div {
  cursor: pointer;
  text-align: center;
  margin-left: 2rem;
  width: 7rem;
  margin-top: 0.5rem;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  user-select: none;
  /* Prevents text selection */
  -webkit-tap-highlight-color: transparent;
  /* Removes the tap highlight */
}

.skill-card div img {
  width: 80%;
  height: 100px;
  object-fit: cover;
  background-color: #dfdfdf;
  border-radius: 10px;
  padding: 10px;
  transition: scale 0.3s;
}

.skill-card div img:hover {
  scale: 1.1;
  background-color: #dfdfdf39;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.about-container,
.profile-pic,
h1,
h2,
p,
.skills-container {
  animation: fadeIn 1.5s ease-in;
}

@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  .text-content {
    width: 100%;
  }

  .text-content h2 {
    font-size: 1.4em;
    color: #777;
    margin-bottom: 1em;
    margin-left: 1rem;
  }

  .text-content h1 {
    font-size: 2.5em;
    margin-bottom: 0.2em;
  }

  .profile-pic {
    margin-right: 0;
    margin-bottom: 1rem;
    width: 80%;
  }

  .skills-container {
    padding: 1rem;
  }


  .skill-card div img {
    height: 70%;
    width: 90%;
  }

  .skill-card div {
    width: 5.5rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
  }

  .skill-card div h4 {
    font-size: 1em;
    padding-bottom: 0;
    margin-top: 5px;
  }

  .skillName {
    margin: 1rem 0 0 3rem;
    font-size: 1.5rem;
  }

  .skillText {
    margin: 0 0 1rem 3rem;
    font-size: 1.2rem;
  }
}