.contact-form {
  padding: 5rem 20px;
  background-color: #fff;
  text-align: center;
}

.contact-form h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.contact-form form {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.contact-form form div {
  margin-bottom: 15px;
}

.contact-form form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.contact-form form input,
.contact-form form textarea {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-form form button {
  width: 90%;
  display: inline-block;
  padding: 12px 24px;
  margin: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact-form form button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}
.contact-form form button:active {
  transform: scale(1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {


  .contact h2 {
    font-size: 2rem;
  }

  .contact-form form button {
    font-size: 0.9rem;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.overlay-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.close-btn:hover {
  background: #0056b3;
}