/* General Styling */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

.firstSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 4px 0;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.firstSection > div {
  width: 60%;
}

.leftSection {
  font-size: 1.5rem;
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  line-height: 1.6;
}

#hi {
  font-size: 2rem;
  color: gray;
}

.leftSection div {
  margin: 10px 0;
}

.leftSection .name {
  font-size: 3rem;
  font-weight: 700;
  color: #5e08af;
}

.leftSection .description {
  font-size: 1.5rem;
  color: #333;
}

.leftSection .roles {
  font-size: 2rem;
  font-weight: 500;
  color: #5e08af;
}

#homeButtons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.rightSection {
  display: flex;
  justify-content: center;
}

.rightSection img {
  width: 80%;
}

.HR {
  border: 0;
  background-color: rgb(10, 104, 186);
  height: 1.5px;
  margin: 40px 84px;
}

/* Utility classes */
.text-gray {
  color: gray;
}

@media (max-width: 1000px) {
  .firstSection > div {
    width: fit-content;
  }

  .rightSection img {
    width: 50%;
  }

  .firstSection {
    flex-direction: column-reverse;
  }

  .leftSection {
    font-size: 1.2rem;
  }

  #hi {
    font-size: 1.5rem;
    margin: 1rem 0;
  }

  .leftSection .name {
    font-size: 2.5rem;
  }

  .leftSection .description {
    font-size: 1.2rem;
  }

  .leftSection .roles {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 2rem;
  }

  .home {
    flex-direction: column;
  }

  .hero p {
    font-size: 1.2rem;
  }
}
