.tree-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f5f5f5;
  }
  
  .tree-container h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
  }

  /* .card{
    background-color: gray;
   margin: 5px 0 5px 0;
    border-radius: 5%;
  } */

  
  .tree ul {
    list-style-type: none;
  }
  
  .tree ul li {
    margin: 20;
    padding: 10px;
    cursor: pointer;
  }
  
  .tree ul li .caret {
    font-weight: bold;
  }
  
  /* .tree ul .nested {
    display: none;
  } */
  
  .tree ul .active {
    display: block;
  }
  
  /* Add some responsiveness */
  @media (max-width: 768px) {
    .tree-container {
      padding: 10px;
    }
  
    .tree-container h2 {
      font-size: 1.5rem;
    }
  }
  